<template>
  <div class="container">
    <div class="row">
      <div class="col-12 py-5">
        <h1>{{ listName }}</h1>
      </div>
    </div>
    <div class="row mb-3">
      <create-todo @on-new-todo="addTodo($event)" />
    </div>
    <div class="row">
      <div class="col-12 col-sm-10 col-lg-6">
        <ul class="list-group">
          <todo
            v-for="(todo, index) in todos"
            :key="index"
            :description="todo.description"
            :completed="todo.completed"
            @on-toggle="toggleTodo(todo)"
            @on-delete="deleteTodo(todo)"
            @on-edit="editTodo(todo, $event)"
          />
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import Todo from "./Todo.vue";
import CreateTodo from "./CreateTodo.vue";

// const API_URL = "http://localhost:8000/todos/";
const API_URL = "/api/todos/"; // this url is then forwarded to the api by nginx in docker
const make_todo_url = todo => API_URL + todo.id + "/";

export default {
  props: {
    listName: String
  },
  data() {
    return {
      todos: []
    };
  },
  mounted() {
    this.getTodos();
  },
  methods: {
    getTodos() {
      axios.get(API_URL).then(response => (this.todos = response.data));
    },
    addTodo(newTodo) {
      const todo = { description: newTodo, completed: false };
      axios.post(API_URL, todo).then(this.getTodos);
    },
    toggleTodo(todo) {
      const url = make_todo_url(todo);
      axios.patch(url, { completed: !todo.completed }).then(this.getTodos);
    },
    deleteTodo(deletedTodo) {
      const url = make_todo_url(deletedTodo);
      axios.delete(url).then(this.getTodos);
    },
    editTodo(todo, newTodoDescription) {
      const url = make_todo_url(todo);
      axios.patch(url, { description: newTodoDescription }).then(this.getTodos);
    }
  },
  components: { Todo, CreateTodo }
};
</script>

<style scoped lang="scss"></style>
